:root{
--primary-bg-color: #1f3044;
--primary-text-color: #fb9039;
--secondary-text-color: #646c79;
}

body{
  font-family: 'Quicksand', sans-serif;
  padding:10px;
  margin:0px;
  box-sizing: border-box;
  background-color: var(--primary-bg-color);
}
.main-head{
  font-size:40px;
  color: white;
}
.head{
  font-size:20px;
  margin-bottom: 20px;
  color: var(--primary-text-color);
}
.create,.save{
  padding:10px;
  background-color: white;
  border: 2px solid black;
  border-radius:5px;
  margin-bottom:30px;
  font-size:14px;
  transition: all 0.3s;
}
.save{
  background-color:var(--secondary-text-color);
  color:white;
  border:none;
  padding: 10px 20px;
  display:none;
}

.list-name{
  padding:10px;
  margin: 0px 7px;
  display:none;
}

.create-clicked .list-name, .create-clicked .save{
  display:initial;
}
.create:hover{
  opacity:0.8;
}
.create:active{
  opacity:0.6;
}
.main-container{
  background-color: var(--secondary-text-color);
  padding: 30px;
}
.names{
  font-weight:bold;
  display:flex;
  gap:10px;
  margin-bottom:20px;
}

.name{
  background-color: var(--primary-bg-color);
  font-size: 20px;
  padding:10px;
  color:white;
  flex:1;
  /* Added these 3 lines so your new title delete buttons look clean! */
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.active-list{
  background-color:lightblue;
  color:black;
}
.list-del-btn{
  background-color:rgb(209, 52, 52);
  padding: 0px 6px;
  border:none;
  color:white;
  border-radius:50%;
  cursor:pointer;
}
.todo-grid,
.todo-input-grid{
  display:grid;
  grid-template-columns: 20px 1fr 150px 100px;
  column-gap:50px;
  row-gap:15px;
  align-items: center;
  color: white;
}
.todo-grid * {
  min-width: 0; 
  word-break: break-all;
  color: white;
}
.todo-input-grid{
  align-items: stretch;
  margin-bottom:10px;
}
.name-input,
.date-input{
  padding:10px;
  font-size:16px;
}
.add-btn{
  padding:10px;
  background-color: var(--primary-bg-color);
  border:none;
  color:white;
  font-weight:bold;
  font-size:16px;
  cursor:pointer;
}
.del-btn{
  padding:10px;
  background-color: rgb(203, 15, 15);
  border:none;
  color:white;
  font-size:16px;
  cursor:pointer;
  font-weight:bold;
}

.noShow {
  display:none;
}